/* LOGIN CSS */
.App {
    padding: 30px;
}

.home {

    width: 125vh;
    height: 95vh;

    background-image: url(./home.svg);

    background-repeat: no-repeat;
    background-position: right;

}

.logo {

    font-size: 85px;
    color: rgb(0, 187, 255);
    margin: 0px;
    text-shadow: 2px 2px 2px rgb(1, 113, 251);
    font-family: Comic Sans MS, Comic Sans;
    position: relative;

}

.form button {

    width: 155px;
    height: 55px;

    font-size: 16px;
    font-family: 'Michroma', sans-serif;
    /* font-family: Comic Sans MS, Comic Sans; */
    /* font-family: 'Syne', sans-serif; */

    border-radius: 6px;
    border-color: transparent;
    background-color: rgb(235, 233, 233)

}

  .form button:hover {

    box-shadow: 0px 0px 20px 20px rgb(235, 233, 233);
    /* #39FF14; */

}

.form input {

    width: 150px;
    height: 40px;

    border-radius: 6px;
    border-color: black;
    border-width: 1.75px;

    /* font-family: Comic Sans MS, Comic Sans; */
    font-family: 'Michroma', sans-serif;
    font-size: 14px;

}

.or,
.or a {
    
    font-size: 20px;
    color: black;
    text-decoration: none;
    font-family: 'Michroma', sans-serif;

}

.or:hover,
.or a:hover {

    color: rgb(1, 113, 251);

}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Syne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kirang+Haerang&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

.authapp h1 {

    position: fixed;

    margin-top: 75px;
    margin-left: 225px;

    font-size: 125px;
}

#nav {

    display: flex;

    position: fixed;

    margin-top: 225px;
    margin-left: 235px;

}

#nav a {
    padding: 12px;
    padding-right: 55px;
    font-size: 26px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: #FF6700;
    font-weight: 500;
}

#nav a:focus {
    font-weight: 800;
    color: #ff4d00;
}

#nav a:hover {
    color: #c0ff02
}

.static {

    position: fixed;

    margin-left: 225px;
    margin-top: 285px;

    padding: 50px;

    width: 650px;
    height: 500px;

    border-radius: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    font-family: 'Poppins', sans-serif;
    font-weight: 200;

}

.static h2 {
    font-weight: 200;
}

.static:hover {
    /* background-color: rgba(255, 255, 255, 0.708) */
    background-color: #c0ff02;
}

.userposts {

    float: right;
    margin-right: 495px;
    margin-top: 380px;

    width: 600px;

    display: flex;
}

.userpost img {

    width: 415px;
    height: 415px;

    padding: 3px;

    object-fit: cover;

}

.singleimg {

    width: auto; 
    height: 700px;

    object-fit: cover;
}

#logout {

    position: fixed;

    width: 155px;
    height: 55px;

    font-size: 16px;
    font-family: 'Michroma', sans-serif;

    margin-left: 235px;
    margin-top: 915px;

    border-radius: 6px;
    border-color: transparent;

    background-color: #4db858;

}

#bunny {

    width: 200px;
    height: 300px;

    float: right;

    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 1));

    /* filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.2)); */

}

.postdetails{
    float: right;

    width: 700px;
    height: 600px;

    margin-right: 415px;
}

.search,
.chum,
.chumposts,
.chumDetails,
.postdetails {
    float: right;
}