/* LOGIN CSS */
.App {
    padding: 30px;
}

.home {

    width: 125vh;
    height: 95vh;

    background-image: url(./home.svg);

    background-repeat: no-repeat;
    background-position: right;

}

.home a {
    padding: 12px;
    padding-right: 50px;
    font-size: 26px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    background-color: transparent;
    border-radius: 15px 15px 0px 0px;
    color: rgb(0, 187, 255);
    font-weight: 500;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.home a:hover {
    color: rgb(1, 113, 251);
}

.logo {

    font-size: 115px;
    color: rgb(0, 187, 255);
    margin: 0px;
    text-shadow: 2px 2px 2px rgb(1, 113, 251);
    font-family: Comic Sans MS, Comic Sans;
    position: relative;

}

.form button {

    width: 155px;
    height: 55px;

    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    /* font-family: Comic Sans MS, Comic Sans; */
    /* font-family: 'Syne', sans-serif; */

    border-radius: 6px;
    border-color: transparent;
    background-color: rgb(235, 233, 233)

}

.form button:hover {

    box-shadow: 0px 0px 20px 20px rgb(235, 233, 233);
    /* #39FF14; */

}

.form input {

    width: 150px;
    height: 40px;

    border-radius: 6px;
    border-color: black;
    border-width: 1.75px;

    /* font-family: Comic Sans MS, Comic Sans; */
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 18px;

}

.error {
    color: red;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

.signuperror {
    color: red;
    font-weight: 500;
    float: right;
    width: 450px;
    margin-right: 150x;
}

.commenterror {
    width: 300px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    overflow: auto;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

.authapp h1 {

    position: fixed;

    margin-top: 45px;
    margin-left: 225px;

    font-size: 125px;
}

#nav,
.unauthnav {

    display: flex;

    position: fixed;

    margin-top: 222px;
    margin-left: 285px;

}

#nav a {
    padding: 12px;
    padding-right: 50px;
    font-size: 26px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    background-color: transparent;
    border-radius: 15px 15px 0px 0px;
    color: #FF6700;
    font-weight: 500;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);

}

#nav a:focus {
    font-weight: 800;
    color: #ff4d00;
}

#nav a:hover {
    
    background-color: #ff660023;
}

.static {

    position: fixed;

    margin-left: 225px;
    margin-top: 285px;

    padding: 50px;
    background-color: rgba(255, 255, 255, 0.79);

    width: 650px;
    height: 500px;

    border-radius: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    font-family: 'Poppins', sans-serif;
    font-weight: 200;

}

.static #greetinguser {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 36px;
    margin-top: 0;
    text-shadow: 1px 1px 1px rgb(11, 11, 11);
}

.static h2 {
    font-weight: 200;
    font-size: 30px;
    color:rgba(126, 6, 165, 0.927);
}

.static h3 {
    font-weight: 500;
    font-size: 22px;
    color:rgb(8, 167, 167);
}

.static label {
    font-weight: 500;
    font-size: 18px;
    color:#f9981a;
    padding-right: 10px;
    text-decoration: underline;
    text-decoration-color: #ff007f;
    text-decoration-thickness: 3px;
}

.static #edit {
    width: 100px;
    height: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
    border-radius: 6px;
    border-color: transparent;
    margin-right: 15px;
    background-color: rgb(0, 187, 255);
    color: white;
}

.static #edit:hover {
    background-color:rgba(189, 112, 214, 0.927);
}

.cloudbutton {
    width: 100px;
    height: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
    border-radius: 6px;
    border-color: transparent;
    background-color: rgb(1, 113, 251);
    color: white;
}

.cloudbutton:hover {
    background-color:#FF6700
}

.userposts {

    float: right;
    margin-right: 495px;
    margin-top: 370px;

    width: 600px;

    display: flex;
}

.userpost img {

    width: 415px;
    height: 415px;

    padding: 3px;

    object-fit: cover;

}

.singleimg {

    width: auto; 
    height: 600px;

    object-fit: cover;
}

.imgcont {
    height: 600px;
    width: 1000px;
}

#logout {

    position: fixed;

    width: 155px;
    height: 55px;

    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;

    margin-left: 235px;
    margin-top: 915px;

    border-radius: 6px;
    border-color: transparent;

    background-color: #41c34e;
    color: white;

}

#logout:hover {
    box-shadow: 0px 0px 20px 20px #41c34e;

}

#postback {

    width: 155px;
    height: 55px;

    border-radius: 6px;
    border-color: transparent;

    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;

    margin-bottom: 0;

    background-color: #f9981a;
    color: white;

}

#postback:hover {
    box-shadow: 0px 0px 20px 20px #f9981a;
}

#editback {
    width: 155px;
    height: 55px;

    border-radius: 6px;
    border-color: transparent;

    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;

    margin-bottom: 0;

    background-color:rgb(0, 187, 255);
    color: white;
}

#editback:hover {
    box-shadow: 0px 0px 20px 20px rgb(0, 187, 255);
}

#submit {
    width: 155px;
    height: 55px;

    border-radius: 6px;
    border-color: transparent;

    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;

    margin-bottom: 0;

    background-color:#c0ff02;
    color: black;
}

#submit:hover {
    box-shadow: 0px 0px 20px 20px #c0ff02;
}

#postcomment {

    width: 155px;
    height: 55px;

    border-radius: 6px;
    border-color: transparent;

    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;

    background-color: rgb(251, 230, 1);
    color: white;
    
}

#postcomment:hover {
    box-shadow: 0px 0px 20px 20px rgb(251, 230, 1);
}

#bunny {

    width: 200px;
    height: 300px;

    float: right;

    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 1));

    /* filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.2)); */

}

.chumbunny {
    width: 150px;
    height: 250px;

    float: right;
    margin-right: 80px;

    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 1));
}

.postdetails{
    float: right;

    width: 1000px;
    height: 600px;

    margin-right: 115px;
    margin-top: 85px;

    padding: 20px;
}

.postdetails a,
.postdetails h2 {

    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: rgba(126, 6, 165, 0.927);
    margin-bottom: 0%;
}

.postdetails h2 {
    font-size: 28px;
}

.postdetails h2:hover {
    color:rgba(241, 47, 186, 0.927)
}

.postdetails h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: rgba(178, 91, 206, 0.927);
    margin: 0;
}

.allcomments {
    width: 500px;
    height: 250px;
    overflow-y: scroll;
    /* overflow-x: auto; */
    border-left: 5px solid #ff007f;
    border-radius: 6px;
    margin-top: 20px;
}

.comments {
    display: flex;
    /* margin-bottom: 10px; */
    width: 500px;
    height: auto;
    float: left;
    padding-left: 10px;
    /* overflow: auto; */

}

.commentuser {
    color: rgb(8, 167, 167);
    padding-right: 10px;
    font-size: 18px;
}

.commentuser:hover {
    color: rgb(4, 95, 95);
}

.comment {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    padding-top: 3px;
    overflow: auto;
    width: 300px;
    height: auto;
}

.comment.letters {
    word-wrap: break-word;
}

.newComment {
    
    float: left;
    margin-top: 20px;
    height: 500px;
    padding-right: 25px;
}

.newComment input {
    width: 300px;
    height: 100px;
    border: 2px solid rgb(8, 167, 167);
    border-radius: 6px;

    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 18px;
}

.editprofile {
    float: right;

    margin-top: 300px;
    margin-right: 720px;
}

.editprofile input {
    width: 300px;
    height: 50px;

    border: 2px solid rgb(0, 187, 255);
    border-radius: 6px;

    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 18px;
}

#bunnyedit {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: rgb(1, 113, 251);
}

.chumData {
    /* display: inline-block; */
    width: 650px;
    height: 500px;
}

.chumcontainer {

    overflow-y: scroll;

    width: 500px;
    height: 350px;

    border-left: 5px solid teal;
    border-radius: 6px;
    
}

.chumlist {
    display: flex;
    align-items: center;
    width: 400px;
    padding-left: 15px;
}

.chumlist h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    padding-right: 8px;
    color:rgba(126, 6, 165, 0.927);
}

.chumlist a {
    text-decoration: none;
}

.chumlist a h3:hover {
    color:rgba(189, 112, 214, 0.927);
}

.chumcontainer .chumname {
    font-weight: 200;
    color:#ff007f;
}

.chumbuttoncont {
    display: flex;
    align-items: center;
    width: 500px;
}

.chumcontainer button {
    width: 100px;
    height: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
    border-radius: 6px;
    border-color: transparent;
    float: right;
    background-color: rgb(251, 230, 1);
}

.chumcontainer button:hover {
    background-color: red;
    color: white;
}

.chumData h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 36px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 50px;
    margin-bottom:20px;
    position: static;
    float: left;
    text-align: left;
    color:#41c34e
}

.search {
    margin-top: 300px;
    margin-right: 720px;
}

.search input {
    width: 300px;
    height: 50px;

    border: 2px solid rgba(241, 47, 186, 0.927);
    border-radius: 6px;

    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 18px;
}

.search p {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: rgba(201, 31, 153, 0.927);
}

.search a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #FF6700;
    margin-bottom: 15px;
}

.search a:hover {
    color:rgb(251, 230, 1)
}

.chumDetails {
    margin-top: 70px;
    margin-right: 500px;
    /* align-items: center; */
}

.chumintro {
    position: fixed;
    width: 500px;
    height: 300px;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 18px;
}

.chumintro h2 {
    font-weight: 800;
    font-size: 36px;
    margin-bottom: 0;
    color:rgb(0, 187, 255);
}

.chumintro h3 {
    font-weight: 500;
    font-size: 28px;
    padding: 0;
    margin: 0;
    color: #41c34e;
}

.chumintro p {
    font-weight: 200;
    font-size: 20px;
    color: rgba(201, 31, 153, 0.927);
}

#bigremove {
    width: 155px;
    height: 55px;

    border-radius: 6px;
    border-color: transparent;

    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;

    color: white;
    background-color:#ff007f;
}

#bigremove:hover {
    box-shadow: 0px 0px 20px 20px #ff007f;
}

#bigadd {
    width: 155px;
    height: 55px;

    border-radius: 6px;
    border-color: transparent;

    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;

    color: white;
    background-color:rgba(126, 6, 165, 0.927);
}

#bigadd:hover {
    box-shadow: 0px 0px 20px 20px rgba(126, 6, 165, 0.927);
}

.chumposts {
    float: right;
    /* margin-right: 495px;
    margin-top: 380px; */

    width: 600px;
    height: 425px;

    display: flex;
    margin-top: 300px;
    align-items: center;
}

#noposts {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 50px;
    color: rgb(62, 98, 246);
}

#userback {
    width: 155px;
    height: 55px;

    position: fixed;

    border-radius: 6px;
    border-color: transparent;

    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;

    margin-bottom: 0;

    background-color:#c0ff02;
    color: black;
    margin-top: 720px;
}

#userback:hover {
    box-shadow: 0px 0px 20px 20px #c0ff02;;
}

.chumsposts {
    float: right;

    width: 600px;
    height: 425px;

    display: flex;
    margin-top: 340px;
    margin-right: 500px;
    align-items: center;
}

.chumsposts a img {
    width: 415px;
    height: 415px;

    padding: 3px;

    object-fit: cover;
}

.search,
.chumposts,
.chumDetails,
.postdetails {
    float: right;
}